@font-face {
    font-family: ProximaNovaBlack;
    src: url(../Font/proxima_ssv/Proxima-Nova-Black.otf);
}

@font-face {
    font-family: Proxima;
    src: url(../Font/proxima_ssv/ProximaNova-Regular.otf);
}

@font-face {
    font-family: GilroyExtraBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: GilroyBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Bold.ttf);
}

@font-face {
    font-family: GilroyMedium;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Medium.ttf);
}

@media (min-width: 1200px) {
    .con {
        max-width: 1220px !important;
    }
}

:root {
    --maincolor: #FFE900;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
}

#__next {
    height: 100%;
    background-color: #1A1A1A;
}

.mainCon {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('/Image/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainCon2 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('/Image/bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainCon3 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('/Image/bg3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-link {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: white;
    margin-right: 15px;
    transition: all 0.2s;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--maincolor) !important;
}

.activeNav {
    color: var(--maincolor) !important;
}

/* index */

.pText {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: white;
    font-size: 5.5rem;
    text-align: center;
    line-height: 0.9em;
}

.pText>span {
    color: var(--maincolor);
}

.btnBook {
    font-family: 'GilroyExtraBold';
    color: white;
    background-color: #EDC728;
    border: 0px;
    border-radius: 13px;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.pDefault {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.imgGps {
    width: 35px;
}

.imgBox {
    width: 350px;
}

/* Login */

.colLogin {
    display: none;
}

.pLogin {
    font-family: 'GilroyExtraBold';
    color: white;
    font-size: 2rem;
}

.box {
    background-color: rgba(59, 56, 52, 0.8);
    border-radius: 25px;
    padding: 25px;
    padding-right: 10px;
    width: 100%;
    margin-top: -5px;
}

.txt {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: transparent;
    font-weight: 400;
    width: 100%;
    margin: 5px 0px;
    outline: var(--maincolor);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1A1A1A;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.pForgot {
    font-family: 'Raleway';
    color: #FAFAFA;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 40px;
}

.pForgot:hover {
    color: var(--maincolor);
}

.btnSubmit {
    font-family: 'GilroyBold';
    color: white;
    background-color: #EDC728;
    border: 0px;
    border-radius: 43px;
    padding: 8px;
    width: 120px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 0px;
    float: right;
}

hr {
    color: white;
    background-color: white;
    width: 100%;
    text-align: left;
    margin-left: 0px;
}

.pOr {
    font-family: 'Raleway';
    color: var(--maincolor);
}

.btnFacebook {
    font-family: "GilroyMedium";
    color: #fafafa;
    font-size: 1rem;
    background: #4267B2 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 6px;
    border: 0px;
    padding: 8px;
    width: 240px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    display: block;
}

.btnGoogle {
    font-family: "GilroyMedium";
    color: #1A1A1A;
    font-size: 1rem;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 6px;
    border: 0px;
    padding: 8px;
    width: 240px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
}

.pDont {
    font-family: "GilroyMedium";
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
}

.pSignup {
    font-family: "GilroyMedium";
    color: var(--maincolor);
    font-size: 1.2rem;
    text-align: center;
    margin-top: -15px;
    text-decoration: underline;
}

/* Deliver */

.colDeliver {
    display: none;
}

.pTitle {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2.2rem;
}

.location-search-input {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: transparent;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}

.input-suggestion {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid dotted;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    padding-left: 10px;
}

.autocomplete-dropdown-container {
    margin-top: 5px;
    border-radius: 10px !important;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    perspective: 1px;
}

.pError {
    font-family: 'GilroyMedium';
    color: #1A1A1A;
    font-size: 1.3rem;
    margin-bottom: 0px;
}

.pErrorSub {
    margin-bottom: 0px;
}

/* map */

.imgLogo {
    width: 150px;
}

.my-row li {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    display: inline;
    padding: 5px 20px;
}

.conMap {
    background-color: #1C1C1C;
    position: relative;
    padding-left: 50px !important;
}

.colLeft {
    background-color: #1C1C1C;
    padding-right: 50px !important;
}

.pPick {
    font-family: 'GilroyMedium';
    color: var(--maincolor);
    font-size: 1.1rem;
    font-weight: 400;
}

.pPick-up, .pDrop-off {
    font-family: 'GilroyBold';
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 25px;
    display: none;
}

.pAdd {
    font-family: 'GilroyBold';
    color: white;
    font-size: 1rem;
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 5%;
}

.txtName {
    font-family: 'GilroyMedium';
    width: 100%;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    margin-top: 8px;
    border: 0px;
}

.txtNumber, .txtAdd {
    font-family: 'GilroyMedium';
    width: 100%;
    padding: 5px;
    outline: none;
    margin-top: 10px;
    border-radius: 3px;
    border: 0px;
}

.divAdd {
    display: none;
    transition: all 0.2s;
    width: 90%;
    margin: 0 auto;
}

.divCategory {
    margin-top: 5%;
}

.boxCategory {
    height: 85px;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid var(--maincolor);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

.imgCategory {
    width: 20px;
}

.pBoxCategory {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.hover {
    position: relative;
}

.hover:hover .hover__no-hover {
    opacity: 0;
}

.hover:hover .hover__hover {
    opacity: 1;
}

.hover__hover {
    position: absolute;
    top: 0;
    opacity: 0;
}

.hover__no-hover {
    opacity: 1;
}

.pNote {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: underline;
    margin-left: 5%;
}

.pAdditional {
    font-family: 'Open Sans', sans-serif;
    color: var(--maincolor);
    font-size: 18px;
    font-weight: 400;
}

.boxAdditional {
    height: auto;
    width: 150px;
    background-color: transparent;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid var(--maincolor);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 7px;
}

.pAdditonalBox {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    margin-bottom: 0px;
    text-align: center;
}

.pCardNumber {
    font-family: 'Proxima', sans-serif;
    color: var(--maincolor);
    font-size: 1rem;
    margin-bottom: 0px;
    font-weight: 600;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.navbarMaps {
    position: absolute;
}

.navText {
    font-family: 'Open Sans', sans-serif;
    color: #1A1A1A;
    font-weight: 700;
    font-size: 1rem;
    margin: 0px 10px;
    display: inline;
    cursor: pointer;
}

.divMap {
    left: 50% !important;
    top: 0%;
    width: 50%;
    height: 100vh;
}

.colMap {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    padding: 0px !important;
}

.txtPickup, .txtDropoff {
    font-family: 'GilroyBold';
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    padding: 5px;
    width: 400px;
    border: 0px;
    border-bottom: 1px solid white;
    margin-left: 30px;
    outline: none;
    margin-top: -5px;
    display: none;
}

.location-search-input-map {
    font-family: 'GilroyBold';
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    padding: 5px;
    width: 400px;
    border: 0px;
    border-bottom: 1px solid white;
    margin-left: 30px;
    outline: none;
    margin-top: -5px;
}

.black {
    filter: brightness(0) !important;
}

.imgInstant {
    width: 250px;
    margin-top: 5px;
}

.pNext {
    font-family: 'GilroyBold';
    color: var(--maincolor);
    font-size: 1.1rem;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.modal-content {
    border-radius: 20px !important;
    padding: 30px !important;
}

.modal-content {
    background-color: black !important;
}

.modal-header, .modal-body, .modal-footer {
    background-color: black;
    border: 0px !important;
}

.modal-title {
    font-family: 'GilroyBold';
    color: white;
    color: 0.9rem;
}

.btnBookModal {
    font-family: 'GilroyBold';
    color: black;
    font-size: 0.9rem;
    background-color: #EDC728;
    border: 0px;
    border-radius: 13px;
    padding: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    float: right;
}

.pCardNumberModal {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    margin-bottom: 0px;
    margin-left: 10px;
    cursor: pointer;
}

.formCard {
    margin-top: 10px;
}

.blur {
    filter: blur(13px) !important;
}

.css-yk16xz-control {
    width: 100% !important;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}

.css-2b097c-container {
    width: 87% !important;
}

.css-2b097c-container:active, .css-yk16xz-control:active {
    margin-top: 0px !important;
}

.imgMap {
    margin-left: 10px !important;
    margin-top: 5px;
    cursor: pointer;
}

.imgDelete {
    margin-left: 10px !important;
    margin-top: 7px;
    width: 30px;
    cursor: pointer;
}

.leaflet-container {
    height: 60vh;
    width: 100%;
    margin: 0 auto;
}

.swal-modal {
    width: auto;
    padding: 0px !important;
    margin: 0px !important;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    display: none;
}

.swal-content {
    padding: 0px !important;
    margin: 0px !important;
}

.swal-footer {
    display: none;
}

.btnAddStopoff {
    font-family: 'GilroyBold';
    color: white;
    font-size: 0.9rem;
    background-color: transparent;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 0px;
    border: 1px solid #EDC728;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    outline: none !important;
    margin-left: 5%;
    transition: all 0.1s;
}

.btnAddStopoff:hover {
    background-color: #EDC728;
}

.pDrag {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999999;
    padding: 10px;
    border-radius: 5px;
}

.btnDone {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    background-color: #69BBE4;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999;
    border: 0px;
}

.btnSet {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    background-color: #69BBE4;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999;
    border: 0px;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-container {
    position: absolute;
    right: 56px;
    bottom: 100px;
}

.form-inline {
    margin-top: -10px;
}

.divStopOff {
    margin-top: 10px;
}

/* Driver */

.mainConDriver {
    height: 80vh;
}

.conDriver {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('/Image/bgdriver1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0px !important;
    left: 0px;
    height: 620px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.pComing {
    font-family: 'Proxima', sans-serif;
    color: #FFE900;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.divButton {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 10px;
    border: 2px solid #FFE900;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.imgPhone {
    width: 90%;
    z-index: 9999999;
    position: relative;
}

.imgDel {
    width: 95%;
    z-index: 9999999;
    position: relative;
    margin-top: 20px;
}

.pDownload {
    font-family: 'Proxima', sans-serif;
    color: #FFE900;
    line-height: 1.4rem;
    margin-left: 5px;
    margin-bottom: 0px;
}

.pDownload>span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.imgDownload {
    width: 35px;
}

.pFully {
    font-family: 'Proxima', sans-serif;
    color: #FFE900;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 15px;
}

.rowGray {
    background-color: #323232;
    margin-top: -25px;
    transform: skew(0deg, -4.5deg);
    padding: 10px;
    padding-bottom: 0px;
    margin-top: -105px;
    height: 120px;
}

.divService {
    margin: 0 auto;
    width: max-content;
    z-index: 99999999999999;
    position: absolute;
    bottom: -20px;
    transform: skew(0deg, -4.5deg);
}

.pService {
    font-family: 'Proxima', sans-serif;
    color: #FFE900;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 15px;
    background-color: #1a1a1a;
    padding: 5px;
    z-index: 99999999999999;
    position: relative;
}

.conRoad {
    background-color: #1A1A1A;
    z-index: 99999999999999999999999999999;
}

.imgRoad {
    width: 50%;
    margin-top: 70px;
    -moz-transform: translate(0px, -3px) skew(-2deg, 2deg);
    -webkit-transform: translate(0px, -3px) skew(-2deg, 2deg);
    -o-transform: translate(0px, -3px) skew(-2deg, 2deg);
    -ms-transform: translate(0px, -3px) skew(-2deg, 2deg);
    transform: translate(0px, -3px) skew(-2deg, 2deg);
}

.pRate {
    font-family: 'Proxima', sans-serif;
    color: #FFE900;
    font-size: 1.5rem;
    font-weight: bold;
    transform: translate(0px, -3px) skew(0deg, -6.5deg);
    width: max-content;
    background-color: #1C1C1C;
    padding: 5px;
    margin-bottom: 0px;
}

.img2 {
    margin-top: -40px;
}

.img3 {
    margin-top: -80px;
}

.pSafety {
    font-family: 'Proxima', sans-serif;
    color: #FFE900;
    font-size: 1.5rem;
    font-weight: bold;
    transform: translate(0px, -3px) skew(0deg, -7deg);
    background-color: #1C1C1C;
    padding: 5px;
    text-align: right;
    margin-right: 0px;
    margin-top: -50px;
}