@media screen and (max-width: 500px) {
    .imgDel, .colDelivery {
        display: none !important;
    }
    .mainConDriver, .conDriver {
        height: auto !important;
    }
}

@font-face {
    font-family: ProximaNovaBlack;
    src: url(../Font/proxima_ssv/Proxima-Nova-Black.otf);
}

@font-face {
    font-family: ProximaNovaBold;
    src: url(../Font/proxima_ssv/Proxima-Nova-Bold.otf);
}

@font-face {
    font-family: ProximaNovaExtraBold;
    src: url(../Font/proxima_ssv/Proxima-Nova-Extrabold.otf);
}

@font-face {
    font-family: Proxima;
    src: url(../Font/proxima_ssv/ProximaNova-Regular.otf);
}

@font-face {
    font-family: GilroyExtraBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: GilroyBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Bold.ttf);
}

@font-face {
    font-family: GilroySemiBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: GilroyMedium;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Medium.ttf);
}

@font-face {
    font-family: GilroyLight;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf);
}

@media (min-width: 1200px) {
    .con {
        max-width: 1220px !important;
    }
}

:root {
    --maincolor: #FFE900;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #212427;
}

#__next {
    height: 100%;
    background-color: #212427;
}

.fixed-top {
    transition: all 0.2s;
}

.nav-link {
    font-family: 'Proxima', sans-serif;
    font-size: 1.1rem;
    color: white;
    margin-right: 15px;
    transition: all 0.2s;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--maincolor) !important;
}

.activeNav {
    color: var(--maincolor) !important;
}

/* index */

.mainCon {
    background-color: #262626;
}

.pText {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
    line-height: 0.9em;
}

.pText>span {
    color: var(--maincolor);
}

.btnBook {
    font-family: 'GilroyExtraBold';
    color: white;
    background-color: #EDC728;
    border: 0px;
    border-radius: 13px;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none !important;
}

.btnBook:hover {
    background-color: #FFE900;
    color: #252424;
    font-weight: 600;
}

.conServices {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)), url('/Image/bgcon2.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
}

.divBox {
    background-color: #E2E2E2;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
    -moz-box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
    box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
}

.divBox1 {
    background-color: rgba(226, 226, 226, 0.8);
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
    -moz-box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
    box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
}

.boxIcon {
    background-color: #1A1A1A;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 24px 1px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 1px 2px 24px 1px rgba(0, 0, 0, 0.27);
    box-shadow: 1px 2px 24px 1px rgba(0, 0, 0, 0.27);
    transition: all 0.2s;
}

.imgIcon {
    width: 20px;
}

.imgIconLarge {
    width: 80px;
    filter: invert(1) brightness(500%);
}

.pIcon {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
}

.pWhat {
    font-family: 'ProximaNovaBlack';
    color: #1A1A1A;
    font-size: 2.5rem;
    width: max-content;
    border-radius: 20px;
    background-color: rgba(226, 226, 226, 0.8);
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
}

.pIconText {
    font-family: 'GilroyMedium';
    color: #1A1A1A;
    font-size: 2.5rem;
    margin-top: 10px;
}

.pDesc {
    font-family: 'GilroyMedium';
    color: #1A1A1A;
    width: 450px;
    margin: 0 auto;
}

.btnBookServices {
    font-family: 'GilroyBold';
    background-color: #FFFE00;
    color: #454542;
    text-align: center;
    cursor: pointer;
    border: 0px;
    border-radius: 10px;
    padding: 8px 20px;
    margin-top: 20px;
    -webkit-box-shadow: 1px 2px 24px 1px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 1px 2px 24px 1px rgba(0, 0, 0, 0.27);
    box-shadow: 1px 2px 24px 1px rgba(0, 0, 0, 0.27);
}

.con3 {
    background-color: #454542;
    padding: 5% 5px;
}

.pOntime {
    font-family: 'GilroyBold';
    font-weight: bold;
    font-size: 3rem;
    color: #FFFE00;
    line-height: 3.5rem;
}

.divBoxCheck {
    background-color: #2B2B2A;
    border-radius: 25px;
    padding: 40px;
}

.pDivBoxCheck {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0px;
    text-align: center;
}

.pCheck {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.con4 {
    background-image: url("/Image/foodbg.png");
    background-size: cover;
    background-position: 50% 50%;
    background-color: #FFF257;
    padding-top: 5%;
}

.pComingsoon {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: #2E2E2E;
    font-size: 3.5rem;
    margin-bottom: 0px;
}

.pComingSub {
    font-family: 'ProximaNovaBold', sans-serif;
    color: #2e2e2e;
    font-size: 1.2rem;
}

/* Login */

.colLogin {
    display: none;
    padding: 5px 25px !important;
}

.pLogin {
    font-family: 'GilroyExtraBold';
    color: white;
    font-size: 2rem;
}

.pErrorLogin {
    font-family: 'GilroyMedium';
    color: #d32f2f;
    font-size: 0.9rem;
    margin: 4px 2px;
}

.box {
    background-color: rgba(59, 56, 52, 0.7);
    border-radius: 25px;
    padding: 30px;
    padding-right: 0px;
    padding-bottom: 25px;
    width: 100%;
    margin-top: -5px;
}

.boxLogin {
    background-color: rgba(59, 56, 52, 0.7);
    border-radius: 25px;
    padding: 30px;
    width: 100%;
    margin-top: -5px;
}

.txt {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: transparent;
    font-weight: 400;
    width: 100%;
    margin: 5px 0px;
    outline: var(--maincolor);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.pForgot {
    font-family: 'Raleway';
    color: #FAFAFA;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 40px;
}

.pForgot:hover {
    color: var(--maincolor);
}

.btnSubmit {
    font-family: 'GilroyBold';
    color: white;
    background-color: transparent !important;
    border: 1px solid #FFE900 !important;
    border-radius: 43px;
    padding: 8px;
    width: 120px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 0px;
    float: right;
    outline: none !important;
}

hr {
    color: white;
    background-color: white;
    width: 100%;
    text-align: left;
    margin-left: 0px;
}

.pOr {
    font-family: 'Raleway';
    color: var(--maincolor);
}

.btnFacebook {
    font-family: "GilroyMedium";
    color: #fafafa;
    font-size: 1rem;
    background: #4267B2 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 6px;
    border: 0px;
    padding: 8px;
    width: 240px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    display: block;
}

.btnGoogle {
    font-family: "GilroyMedium";
    color: #1A1A1A;
    font-size: 1rem;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 6px;
    border: 0px;
    padding: 8px;
    width: 240px;
    margin: 0 auto;
    margin-top: -5px;
    display: block;
}

.pDont {
    font-family: "GilroyMedium";
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
}

.pSignup {
    font-family: "GilroyMedium";
    color: var(--maincolor);
    font-size: 1.2rem;
    text-align: center;
    margin-top: -15px;
    text-decoration: underline;
    cursor: pointer;
}

/* Deliver */

.colDeliver {
    display: none;
}

.pTitle {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2.2rem;
}

.location-search-input {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: transparent;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}

.input-suggestion {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid dotted;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    padding-left: 10px;
}

.autocomplete-dropdown-container {
    margin-top: 5px;
    border-radius: 10px !important;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    perspective: 1px;
}

.pError {
    font-family: 'GilroyMedium';
    color: #1A1A1A;
    font-size: 1.3rem;
    margin-bottom: 0px;
}

.pErrorSub {
    margin-bottom: 0px;
}

/* map */

.imgLogo {
    width: 120px;
    margin-top: -15px;
}

.my-row li {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    display: inline;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.2s;
    float: right;
}

.imgGps {
    width: 20px;
}

.my-row li:hover {
    color: var(--maincolor);
}

.conMap {
    background-color: #1E2025;
    position: relative;
    padding-left: 50px !important;
    display: none;
}

.colLeft {
    background-color: #1E2025;
    padding-right: 50px !important;
    padding-bottom: 40px;
}

.pPick {
    font-family: 'GilroyMedium';
    color: var(--maincolor);
    font-size: 1.1rem;
    font-weight: 400;
}

.pPick-up, .pDrop-off {
    font-family: 'GilroyBold';
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 25px;
    display: none;
}

.pAdd {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1rem;
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 5%;
    transition: all 0.2s;
}

.pAdd:hover {
    color: #FFE900;
}

.txtAdditional {
    font-family: "GilroyMedium" !important;
    color: white;
    padding: 8px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    margin-top: 8px;
    outline: none !important;
    caret-color: white;
}

.txtAdditional:focus {
    border-color: #EDC728 !important;
    background-color: #202225;
}

.txtNumber, .txtAdd {
    margin-top: 10px;
}

.divAdd {
    display: none;
    transition: all 0.2s;
    width: 90%;
    margin: 0 auto;
}

.divCategory {
    margin-top: 5%;
}

.boxCategory {
    height: 65px;
    width: 100%;
    background-color: #252424;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid var(--maincolor);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 5px;
}

.imgCategory {
    width: 17px;
}

.pBoxCategory {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.7rem;
    margin-top: 10px;
    margin-bottom: 0px;
}

.hover {
    position: relative;
}

.hover:hover .hover__no-hover {
    opacity: 0;
}

.hover:hover .hover__hover {
    opacity: 1;
}

.hover__hover {
    position: absolute;
    top: 0;
    opacity: 0;
}

.hover__no-hover {
    opacity: 1;
}

.pNote {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: underline;
    margin-left: 5%;
}

.pAdditional {
    font-family: 'GilroyMedium';
    color: var(--maincolor);
    font-size: 1rem;
    font-weight: 400;
}

.boxAdditional {
    height: auto;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid var(--maincolor);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 7px;
}

.pAdditonalBox {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    margin-bottom: 0px;
    text-align: center;
}

.divCard {
    padding: 20px 20px;
    background-color: #1A1A1A;
    overflow: "hidden";
    border-radius: "25px";
    width: "500px";
    position: "relative";
    z-index: "99999999999999"
}

.navbarMaps {
    position: absolute;
}

.navText {
    font-family: 'Open Sans', sans-serif;
    color: #1A1A1A;
    font-weight: 700;
    font-size: 1rem;
    margin: 0px 10px;
    display: inline;
    cursor: pointer;
}

.divMap {
    left: 42% !important;
    top: 0%;
    width: 58%;
    height: 100vh;
}

.colMap {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    padding: 0px !important;
}

.txtPickup, .txtDropoff {
    font-family: 'GilroyBold';
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    padding: 5px;
    width: 400px;
    border: 0px;
    border-bottom: 1px solid white;
    margin-left: 30px;
    outline: none;
    margin-top: -5px;
    display: none;
}

.location-search-input-map {
    font-family: 'GilroyBold';
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    padding: 5px;
    width: 400px;
    border: 0px;
    border-bottom: 1px solid white;
    margin-left: 30px;
    outline: none;
    margin-top: -5px;
}

.black {
    filter: brightness(0) !important;
}

.pPayment {
    font-family: 'GilroyMedium';
    color: var(--maincolor);
    font-size: 0.9rem;
}

.pPrice {
    font-family: 'GilroyBold';
    color: white;
    font-size: 2rem;
    margin: 0px;
    margin-top: -10px;
}

.pPriceSub {
    font-family: 'GilroyMedium';
    color: white;
    margin-bottom: 0px;
}

.btnBook {
    font-family: 'GilroyMedium';
    font-size: 0.9rem;
    color: white;
    border: 1px solid #FECE2F;
    padding: 8px;
    width: 170px;
    border-radius: 25px;
    background-color: transparent;
}

.modal-header, .modal-footer, .modal-body {
    border: 0px !important;
}

.modal-header {
    display: block !important;
}

.pMode {
    font-family: 'GilroyBold';
    color: #2C2C2C;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.pModeSub {
    font-family: 'GilroySemiBold', sans-serif;
    color: #414141;
    font-size: 0.95rem;
    margin-bottom: 0px;
}

.divCod {
    border: 1px solid #FFE900;
    border-radius: 2px;
    background-color: rgba(255, 233, 0, 0.2);
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.pCod {
    font-family: 'GilroySemiBold';
    color: #323232;
    font-size: 1rem;
    margin-bottom: 2px;
}

.pCodSub {
    font-family: 'GilroyMedium';
    color: #FDBF00;
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.pPriceModal {
    font-family: 'GilroyBold';
    color: #2C2C2C;
    font-size: 2rem;
    margin-bottom: 0px;
}

.pCardType {
    font-family: 'GilroySemiBold';
    color: #2C2C2C;
    margin-bottom: 2px;
}

.pCardNumber {
    font-family: 'GilroySemiBold';
    color: #464743;
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.pAddMethod {
    font-family: 'GilroyBold';
    color: #252424;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.pAddMethod:hover {
    color: #EDC728;
}

.btnPayment {
    font-family: 'GilroySemiBold';
    color: white;
    background-color: #FDBF00;
    border-radius: 5px;
    border: 0px;
    width: 100%;
    padding: 12px;
    margin-top: 5px;
}

.blur {
    filter: blur(13px) !important;
}

.css-yk16xz-control {
    width: 100% !important;
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
}

.css-b8ldur-Input {
    color: white !important;
}

.css-1g6gooi {
    color: white !important;
}

.css-2b097c-container {
    width: 87% !important;
}

.css-2b097c-container:active, .css-yk16xz-control:active {
    margin-top: 0px !important;
}

.imgMap {
    margin-left: 10px !important;
    margin-top: 5px;
    cursor: pointer;
}

.imgMap1 {
    margin-left: -15px !important;
    margin-top: 5px;
    cursor: pointer;
}

.imgDelete {
    margin-left: 10px !important;
    margin-top: 7px;
    width: 30px;
    cursor: pointer;
}

.leaflet-container {
    height: 60vh;
    width: 100%;
    margin: 0 auto;
}

.swal-modal {
    width: auto;
    padding: 0px !important;
    margin: 0px !important;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    display: none;
}

.swal-content {
    padding: 0px !important;
    margin: 0px !important;
}

.swal-footer {
    display: none;
}

.btnAddStopoff {
    font-family: 'GilroyBold';
    color: white;
    font-size: 0.9rem;
    background-color: transparent;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 0px;
    border: 1px solid #EDC728;
    border-radius: 20px;
    padding: 10px;
    width: 170px;
    outline: none !important;
    margin-left: 5%;
    transition: all 0.1s;
}

.tooltip-inner {
    background-color: #1C1E21 !important;
    border: 1px solid #FDBF00;
}

.btnAddStopoff:hover {
    background-color: #FFE900;
    color: #212121;
}

.pDrag {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999999;
    padding: 10px;
    border-radius: 5px;
}

.btnDone {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    background-color: #69BBE4;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999;
    border: 0px;
}

.btnSet {
    font-family: 'Proxima', sans-serif;
    color: white;
    font-size: 0.9rem;
    background-color: #69BBE4;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999;
    border: 0px;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-container {
    position: absolute;
    right: 56px;
    bottom: 100px;
}

.form-inline {
    margin-top: -10px;
}

.divStopOff {
    margin-top: 10px;
}

/* Driver */

.divCovid {
    background-color: #FFE5B2 !important;
    position: fixed;
    bottom: 0px;
    z-index: 9;
    margin-left: -15px !important;
    padding: 10px 50px !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.pCovid {
    font-family: "GilroyMedium";
    color: #564218;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.pCloseCovid {
    font-family: "GilroyMedium";
    color: #564218;
    font-size: 2.5rem;
    position: absolute;
    right: 0px;
    top: -15px;
    cursor: pointer;
}

.pCovidSub {
    font-family: "GilroyMedium";
    color: #B88217;
    font-size: 1rem;
    margin-bottom: 0px;
}

.mainConDriver {
    height: 100vh;
}

.nav-driver {
    font-family: 'Proxima', sans-serif;
    font-size: 1.1rem;
}

.conDriver {
    transition: all 1.5s;
    background-image: url('/Image/bgdriver1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0px !important;
    left: 0px;
    height: 100vh;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    overflow: hidden;
    opacity: 1.0;
}

.pMaasahan {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: #FFFF3B;
    font-size: 3.4rem;
    text-align: center;
    margin-left: -10%;
}

.imgGif {
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 1;
    width: 88%;
    border-radius: 25px;
}

.divVideo {
    position: absolute;
    top: 0px;
    left: 0px;
}

.pComing {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: #FFFF3B;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.divButton {
    background-color: rgba(0, 0, 0, 0.4);
    width: 225px;
    padding: 10px;
    border: 2px solid #FFFE00;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    margin-left: 15px;
}

.imgPhone {
    z-index: 2;
    position: relative;
}

.imgDel {
    width: 95%;
    position: relative;
    margin-top: 20px;
}

.pDownload {
    font-family: 'Proxima', sans-serif;
    color: #FFFE00;
    line-height: 1.4rem;
    margin-left: 5px;
    margin-bottom: 0px;
}

.pDownload>span {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.imgDownload {
    width: 35px;
}

.conDriver2 {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: white;
    position: relative;
}

.imgBar {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.divBoxCarousel {
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 25px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.pCarouselTitle {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: #464743;
    font-style: italic;
    font-size: 3rem;
}

.pCarouselContent {
    font-family: 'ProximaNova', sans-serif;
    color: #464743;
    padding-bottom: 15%;
}

.carousel-indicators li {
    background-color: #2C2C2C !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #EDC728 !important;
}

.conStep {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #F0F0F0;
}

.imgStep {
    border-radius: 20px;
}

.divStep {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #323232;
    cursor: pointer;
    transition: all 0.2s;
    min-height: 430px;
    max-height: 430px;
}

.divStepActive {
    background-color: rgb(255, 254, 59) !important;
    border: 0px;
}

.divInside {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px !important;
}

.divInsideActive {
    background-color: #FFFE8B !important;
}

.pStepTitle {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: #898989;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

.pStepsub {
    font-family: 'ProximaNova', sans-serif;
    color: #898989;
    text-align: center;
    margin-top: -5px;
}

.divAbout {
    width: 95%;
    margin: 0 auto;
}

.pAboutus {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: #FFFF3B;
    font-size: 3rem;
    margin-bottom: 5px;
}

.pAboutusSub {
    font-family: 'ProximaNova', sans-serif;
    color: #FFFF3B;
    font-size: 1rem;
}

.imgArtwork {
    border-radius: 25px;
}

.conAbout {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #4B4B4B;
}

.pArtwork {
    font-family: 'ProximaNova', sans-serif;
    color: #FFFF3B;
    font-size: 0.9rem;
    margin-top: 20px;
}

.conFooter {
    background-color: #121212;
    padding: 15px 40px;
}

.ulFooter {
    list-style-type: none;
    overflow: hidden;
    float: right;
}

.liFooter {
    float: left;
}

.liFooter a {
    font-family: 'ProximaNovaBold', sans-serif;
    color: white;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none !important;
}

.liFooter a:hover {
    color: #EDC728;
}

.pFooter {
    font-family: 'ProximaNova', sans-serif;
    color: white;
    font-size: 1rem;
}

.btnSubmitModal {
    font-family: 'ProximaNova', sans-serif;
    color: white;
    font-size: 1.2rem;
    background-color: #EDC728;
    border: 0px;
    border-radius: 43px;
    padding: 10px;
    width: 140px;
    margin: 0 auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none !important;
}

.pAccount {
    font-family: 'ProximaNovaBold', sans-serif;
    color: #1A1A1A;
    font-size: 1.5rem;
}

.p1 {
    font-family: 'GilroyMedium', sans-serif;
    color: #323232;
    font-size: 1.1rem;
    margin-bottom: 0px;
    margin-top: 2px;
}

.txtModal {
    font-family: 'GilroyMedium', sans-serif;
    color: #323232;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: transparent;
    font-weight: 400;
    width: 100%;
    margin: 5px 0px;
    outline: var(--maincolor);
    margin-top: 8px;
}

.txtInfo {
    font-family: 'GilroyMedium', sans-serif;
    color: #707070;
    line-height: 1.3rem;
    font-size: 1rem;
    margin-top: 5px;
}

input[type="file"] {
    position: absolute;
    left: 55px;
    top: 15px;
    width: 100%;
    z-index: 1;
    outline: none !important;
    box-shadow: none !important;
}

.custom-file-upload {
    color: white;
    background-color: #707070;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    width: 40%;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.pImage {
    font-family: 'GilroyMedium', sans-serif;
    color: red;
    font-size: 0.9rem;
    margin-bottom: 0px;
    margin-top: 2px;
    font-style: italic;
}

.pErrorMessage {
    font-family: 'GilroyMedium', sans-serif;
    color: red;
    font-size: 0.9rem;
    margin-bottom: 0px;
    display: none;
}

/* Profile */

.conProfile {
    position: relative;
}

.rowTop {
    padding-top: 20px;
    background-color: #212427;
    padding-bottom: 20px;
    border-bottom: 1px solid #414141;
}

.divSidebar {
    border-right: 1px solid #414141;
    background-color: #15181A;
    width: 50px;
    height: 100vh;
    position: fixed;
    left: 0px;
    box-shadow: 0px 5px 20px #212121;
    z-index: 99999;
    transition: all 0.2s;
}

.divSidebar:hover {
    width: 180px;
}

.divMenu {
    position: relative;
    height: 98%;
}

.divIcon {
    position: absolute;
    top: 38.5%;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul.no-bullets>a>li {
    padding: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.1s;
    width: 50px;
    text-decoration: none !important;
}

ul.no-bullets>a>li>span {
    font-family: "GilroyMedium";
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-left: 40px;
    display: none;
}

ul.no-bullets>a>li:hover {
    background-color: #2C2B31;
    border-left: 2px solid #FFE900;
}

.divUserNav {
    float: right;
    margin-top: 0px;
}

.circle {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.circle>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pFullname {
    font-family: "GilroyMedium";
    color: white;
    font-size: 0.9rem;
    margin-right: 10px;
}

.btnLogout {
    font-family: 'Proxima', sans-serif;
    color: white;
    border: 1px solid #FFE900;
    background-color: transparent;
    border-radius: 8px;
    padding: 5px 15px;
    margin-right: 10px;
    box-shadow: 0px 5px 20px rgba(237, 199, 40, 0.1);
}

.vl {
    border: 1px solid #414141;
    height: 30px;
    width: 2px;
    margin-right: 10px;
}

.pDashboard {
    font-family: "GilroyMedium";
    color: white;
    font-size: 2rem;
    margin-bottom: 0px;
    margin-left: 7px;
}

.conBook {
    padding-left: 70px !important;
    margin-top: 40px;
}

table {
    border-collapse: separate;
}

th {
    font-family: "GilroyMedium";
    color: white;
    font-size: 1rem;
    border: 0px !important;
    background-color: transparent !important;
}

tr {
    border: 0px !important;
}

td {
    font-family: "GilroyMedium";
    font-size: 1rem;
    cursor: pointer;
    border: 0px !important;
    padding-top: 1em !important;
    padding-bottom: 0.5em !important;
}

.tdlight {
    color: #424242;
}

.tddark {
    color: #C4CAD1;
}

.tr {
    cursor: pointer;
}

.looking1 {
    font-size: 0.9rem;
    color: #F9A825;
    display: block !important;
    text-transform: capitalize;
    background-color: #FFFDE7;
    padding: 2px 20px;
    width: max-content;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.driverfound {
    font-size: 0.9rem;
    color: #28A829;
    display: block;
    text-transform: capitalize;
    background-color: #C1E5C1;
    padding: 2px 20px;
    width: max-content;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.intransit, .arrivedpickup {
    font-size: 0.9rem;
    color: #FDA41B;
    display: block;
    text-transform: capitalize;
    background-color: #4D3D24;
    padding: 2px 20px;
    width: max-content;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.arrived, .complete {
    background-color: #25394F;
    font-size: 0.9rem;
    display: block;
    color: #3E8FEC;
    text-transform: capitalize;
    padding: 2px 20px;
    width: max-content;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.complete1 {
    background-color: #CCF5E0;
    font-size: 0.9rem;
    display: block;
    color: #08A855;
    text-transform: capitalize;
    padding: 2px 20px;
    width: max-content;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@keyframes stretch {
    0% {
        transform: scale(0.5);
        background-color: white;
    }
    50% {
        background-color: white
    }
    100% {
        transform: scale(1);
        background-color: #FFFFFF;
    }
}

.btn {
    font-family: "Proxima" !important;
    align-items: center;
    background-color: transparent !important;
    color: white !important;
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    justify-content: center;
    min-width: 90px;
    border-radius: 25px !important;
}

.btn:hover {
    background-color: #FFE900 !important;
}

.btn.btn--loading {
    font-size: 0;
}

.btn.btn--loading span {
    display: flex;
    text-align: center;
    margin-top: 5px;
    margin-left: 25px;
}

.btn.btn--loading span b {
    animation-direction: alternate;
    animation-duration: .5s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: stretch;
    animation-play-state: running;
    animation-timing-function: ease-out;
    border-radius: 100%;
    display: block;
    height: 10px;
    margin: 0 1px;
    width: 10px;
    animation-delay: .1s;
    margin: 0 5px;
}

.btn.btn--loading span b:first-child {
    animation-delay: 0s;
    margin: 0;
}

.btn.btn--loading span b:last-child {
    animation-delay: .2s;
    margin: 0;
}

.btn b {
    font-weight: normal;
}

.btn span {
    display: none;
}

.conMenu {
    padding-left: 70px !important;
    margin-bottom: -40px;
    margin-top: 20px;
}

.ulDashboard {
    list-style-type: none;
    overflow: hidden;
    margin: 0px auto;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 8px;
}

.ulDashboard>li {
    font-family: 'GilroyMedium';
    float: left;
    display: block;
    color: white;
    text-align: center;
    margin-right: 35px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 0px;
    width: max-content;
    text-align: center;
    padding-bottom: 15px;
}

.activeUl {
    border-bottom: 1px solid #FFE900;
    color: #FBC02D !important;
}

.ulDashboard>li:hover {
    color: #EDC728;
}

.hrDashboard {
    background-color: #414141;
    margin-top: 0px;
}

.pTitleDashboard {
    font-family: "GilroyMedium";
    font-size: 1.2rem;
    color: white;
    margin-left: 5px;
}

.div {
    margin-left: 40px !important;
}

.pTotalBookings {
    font-family: "GilroyMedium";
    color: #C4CAD1;
    font-size: 1.2rem;
    margin: 10px 2px;
    margin-bottom: 20px;
}

.pActiveBookings {
    font-family: "GilroyMedium";
    color: #FFDD9A;
    font-size: 1rem;
    margin-left: 10px;
}

.txtSearch {
    font-family: "GilroyMedium";
    color: white;
    font-size: 1rem;
    border-radius: 9px;
    border: 1px solid rgb(28, 30, 33);
    padding: 8px;
    border: 0px;
    width: 350px;
    padding-left: 40px;
    float: right;
    margin-top: -5px;
    background: rgb(28, 30, 33) url(../Image/search.png) left no-repeat;
    background-size: 18px;
    background-position: 10px;
    outline: none !important;
}

.txtSearch:focus {
    border: 1px solid #FFF257;
}

.pNo {
    font-family: 'GilroyMedium';
    color: #FFDD9A;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 10px;
    display: none;
}

.pSearching {
    font-family: 'GilroyMedium';
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.pSearchsub {
    font-family: 'GilroyLight';
    color: whitesmoke;
    font-size: 1rem;
}

.modalSearch {
    padding: 40px !important;
    padding-bottom: 30px !important;
    background: #1A1A1A;
}

.btnCheck {
    font-family: 'GilroyMedium';
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #FFE900 !important;
    background-color: transparent;
    border-radius: 25px;
    transition: all 0.2s;
    cursor: pointer;
    padding: 8px !important;
    padding-bottom: 30px !important;
    width: 220px;
}

.Box {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: max-content;
    margin-top: 20px;
}

.Box span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 15px;
    animation: Loading 1.6s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: center;
}

.Box span:first-of-type {
    background-color: #f7b731;
    animation-delay: 0s;
    box-shadow: 0px 0px 10px #f7b731;
}

.Box span:nth-of-type(2) {
    background-color: #f7b731;
    animation-delay: .2s;
    box-shadow: 0px 0px 10px #f7b731;
}

.Box span:nth-of-type(3) {
    background-color: #f7b731;
    animation-delay: .4s;
    box-shadow: 0px 0px 10px #f7b731;
}

.Box span:last-of-type {
    background-color: #f7b731;
    animation-delay: .6s;
    box-shadow: 0px 0px 10px #f7b731;
}

@keyframes Loading {
    0%, 40%, 100% {
        transform: scale(1);
    }
    20% {
        transform: scale(3);
    }
}

.btnShowmore {
    font-family: 'GilroyMedium';
    color: whitesmoke;
    font-size: 1rem;
    border: 1px solid #FBC02D;
    background-color: transparent;
    width: 180px;
    padding: 8px;
    outline: none !important;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    display: none;
    margin-bottom: 20px;
}

.btnShowmore:hover {
    background-color: #FBC02D;
}

/* Settings */

.conSettings {
    display: none;
    margin-top: 40px;
    padding-left: 70px !important;
}

.pSettingsTitle {
    font-family: 'GilroyMedium';
    color: #FFDD9A;
    font-size: 1.2rem;
}

.btnChangepassword {
    font-family: 'GilroyMedium';
    font-size: 0.9rem;
    color: white;
    background-color: transparent !important;
    border: 1px solid #FFE900;
    border-radius: 43px;
    padding: 8px 15px;
    width: auto;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 0px;
    outline: none !important;
}

.modalChangepass {
    padding: 40px !important;
    background-color: #1C1E21;
}

.txtEmailchange {
    font-family: "GilroyMedium";
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 12px;
    padding-left: 45px;
    border: 1px solid #2c2c2c;
    width: 100%;
    background: rgb(28, 30, 33) url(../Image/envelope.png) left no-repeat;
    background-size: 18px;
    background-position: 10px;
    outline: none !important;
}

.txtOldpass {
    font-family: "GilroyMedium";
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 12px;
    padding-left: 45px;
    border: 1px solid #2c2c2c;
    width: 100%;
    background: rgb(28, 30, 33) url(../Image/padlock.png) left no-repeat;
    background-size: 18px;
    background-position: 10px;
    outline: none !important;
    margin-top: 15px;
}

.txtNewpass {
    font-family: "GilroyMedium";
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 12px;
    padding-left: 45px;
    border: 1px solid #2c2c2c;
    width: 100%;
    background: rgb(28, 30, 33) url(../Image/key.png) left no-repeat;
    background-size: 18px;
    background-position: 10px;
    outline: none !important;
    margin-top: 15px;
}

.btnChangepass {
    font-family: 'GilroyMedium';
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #F7D03E;
    padding: 15px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none !important;
}

.btnChangepass:hover {
    background-color: #FBC02D;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 22px;
    background: transparent;
    border: 1px solid #FFFF3B;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

label.changed:after {
    background: #424242;
}

label-after-active {
    background: #212121 !important;
}

input:checked+label:after {
    background: #FBC02D;
}

input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

label:active:after {
    width: 35px;
}

.spanCheck {
    font-family: "GilroyMedium";
    color: whitesmoke;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: -5px;
}

/* Map table book */

.colPackage {
    border-left: 1px solid #414141;
}

.divMapBook {
    position: fixed;
    width: 74.1%;
    height: 100%;
}

.circleBook {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 40px;
}

.circleBook>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.packageFullname {
    font-family: 'GilroyMedium';
    color: whitesmoke;
    font-size: 1.1rem;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.pNumber {
    font-family: "GilroyMedium";
    color: #FFDD9A;
    font-size: 1rem;
    text-align: center;
}

.p4 {
    margin-left: 18px;
}

.p2 {
    font-family: 'GilroyMedium';
    color: whitesmoke;
    font-size: 1.2rem;
}

.liBooking {
    font-family: 'GilroyMedium';
    color: whitesmoke;
    font-size: 0.9rem;
    margin-top: 10px;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.liBooking:hover {
    color: #FFE900;
}

.pMapBookStatus {
    font-family: 'GilroyMedium';
    width: max-content;
    text-align: left;
    background-color: #26292E;
    padding: 2px 8px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.looking {
    font-family: 'GilroyMedium';
    color: #2D9CFC;
    width: max-content;
    text-align: left;
    background-color: #26292E !important;
    padding: 2px 10px;
    border-radius: 25px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.intransitBook {
    font-family: 'GilroyMedium';
    color: #FFDD9A;
    width: max-content;
    text-align: left;
    background-color: #26292E !important;
    padding: 2px 10px;
    border-radius: 25px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.p3 {
    font-family: 'GilroyLight';
    color: #E8E9E9;
    font-size: 0.85rem;
    margin-bottom: 5px;
    text-align: left;
}

.spanMore {
    font-size: 1.2rem;
    color: white;
    display: none;
}

.pPriceBook {
    font-family: 'GilroySemiBold';
    color: #FFDD9A;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 0px;
}

.pDate {
    font-family: 'GilroyLight';
    font-size: 1rem;
    color: #FFDD9A;
    text-align: center;
    margin-bottom: 0px;
}

.colBorder {
    border-left: #414141;
}

/* new modal */

.pModalTitle {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1.1rem;
}

.modal-dialog-driver {
    max-width: 800px;
}

.modalDriver {
    padding: 40px !important;
    background-color: #1C1E21;
}

.pModalTitleSub {
    font-family: "GilroyMedium" !important;
    font-size: 0.9rem;
    color: #959798;
    font-weight: 400;
}

.pTxtDriver {
    font-family: "GilroyMedium" !important;
    color: whitesmoke;
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.txtDriver {
    font-family: "GilroyMedium" !important;
    color: white;
    padding: 8px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    margin-top: 8px;
    outline: none !important;
    caret-color: white;
    margin-bottom: 15px;
}

.txtDriver:focus {
    border-color: #EDC728 !important;
    background-color: #202225;
}

.pModalTitle1 {
    font-family: 'GilroyMedium';
    color: whitesmoke;
    font-size: 1rem;
}

.divAttachment {
    background-color: #202225;
    width: 100%;
    border: 1px dashed #2c2c2c;
    padding: 30px;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.divAttachment:hover {
    border-color: #EDC728;
}

.btnSubmitDriver {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1rem;
    background-color: transparent !important;
    border: 1px solid #FFE900 !important;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    float: right;
    outline: none !important;
}

.pError {
    font-family: 'ProximaNova', sans-serif;
    font-size: 0.9rem;
    color: #d32f2f;
    margin-bottom: 8px;
    margin-top: -5px;
    display: none;
}

/* Customer profile  */

.conProf {
    display: none;
    margin-top: 65px;
    padding-left: 70px !important;
    max-width: 800px !important;
}

.imgProfileDash {
    width: 100px;
    border-radius: 50%;
}

.spanFull {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1.4rem;
    margin-left: 15px;
    margin-top: 10px;
    line-height: 1.5rem;
}

.spanAdd {
    font-size: 1rem !important;
    margin-top: -10px !important;
}

.divProf {
    background-color: #1C1E21;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin: 2px;
    margin-top: 10px;
}

.btnSave {
    font-family: 'GilroyMedium';
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #EDC728 !important;
    padding: 8px;
    width: 180px;
    border-radius: 10px !important;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 20px;
    margin-bottom: 25px;
    outline: none !important;
}

.btnSave:hover {
    color: #212121 !important;
    font-weight: 600;
    background-color: #EDC728 !important;
}

/* Tracking */

.colSidebar {
    padding: 0px;
    background-color: white !important;
    z-index: 99;
    padding-bottom: 20px;
    min-width: 370px !important;
    max-width: 370px !important;
}

.colSideTrack {
    padding: 20px !important;
    background-color: white !important;
    z-index: 99;
    padding-bottom: 20px;
    padding-top: 10px important;
    min-width: 380px !important;
    max-width: 380px !important
}

.conSide {
    -webkit-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    -moz-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    height: 100%;
    z-index: 99;
    background-color: white !important;
}

.conSideTrack {
    -webkit-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    -moz-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    height: 100%;
    z-index: 99;
    background-color: white !important;
}

.conSearch {
    background-color: #F3F6FC !important;
    position: fixed;
    z-index: 9999999;
}

.colMapTrack {
    padding: 0px !important;
    margin: 0px;
    position: fixed !important;
}

.top {
    padding: 10px;
    width: 110%;
    margin-left: -4.4%;
    background-color: #FAFAFE;
    border-bottom: 1px solid #EEEEEE;
}

.txtBookingid {
    font-family: 'GilroyMedium';
    color: #212121;
    font-size: 1rem;
    padding: 10px;
    padding-left: 35px;
    border: 0px;
    background: transparent url(../Image/search.png) left no-repeat;
    outline: none;
    background-size: 18px;
    background-position: 10px;
    width: 100%;
}

.divDriver {
    background-color: #FAFAFA;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    -moz-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.divProfimg {
    border-radius: 20px;
    height: 70px;
    width: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.divProfimg>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pDriverName {
    font-family: 'GilroySemiBold';
    font-weight: 600;
    color: #212121;
    font-size: 1.1rem;
    margin-bottom: 0px;
}

.p7 {
    color: #11183F !important;
    font-size: 1rem !important;
    margin-bottom: 0px;
}

.pMobile, .pLisence {
    font-family: 'GilroyMedium';
    color: #212121;
    font-size: 1rem;
    margin-bottom: 0px;
}

.pLisence {
    font-size: 0.8rem;
}

.p5 {
    font-family: 'GilroyMedium';
    color: #757575;
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.divBookDetails {
    background-color: #FAFAFA;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    -moz-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}

.p5Sub {
    color: #303144;
    font-weight: 600;
    font-size: 1rem !important;
    margin-bottom: 0px !important;
}

.pPickTrack {
    font-family: 'GilroyMedium';
    color: #424242;
    font-size: 0.8rem;
    margin-bottom: 0px;
}

.divPickoff, .divDropoff {
    background-color: transparent !important;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    -moz-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}

.pPickLock {
    font-size: 0.9rem !important;
    margin-bottom: 0px;
    color: #11183F !important;
    font-weight: 600;
}

.pKm {
    font-size: 0.9rem !important;
}

.sKm {
    font-size: 0.9rem !important;
}

.pDatetrack {
    font-weight: 600;
    font-size: 0.8rem !important;
    margin-bottom: 0px;
    color: #11183F !important;
}

.pPickCategory {
    font-size: 0.9rem !important;
    margin-bottom: 0px;
    color: #11183F !important
}

.colBorderStripe {
    border-left: 1px dashed lightgray !important;
}

.divImgCat {
    background-color: #FFF59D !important;
    width: 80%;
    height: 100%;
}

.arrivedtrack {
    font-family: 'GilroyMedium';
    font-weight: 600;
    font-size: 0.9rem;
    color: #3E8FEC;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.divSearch {
    margin: 0 auto;
    width: 840px;
    height: 350px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    -moz-box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    box-shadow: 2px 2px 30px 0px rgba(150, 150, 150, 0.33);
    padding: 40px;
}

.pBooking {
    font-family: 'GilroyMedium';
    font-weight: 600;
    color: #303144;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.pBookingSub {
    font-family: 'GilroyMedium';
    font-weight: 600;
    color: #303144;
    font-size: 0.9rem;
}

.txtTrack {
    font-family: 'GilroyMedium';
    color: #212121;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    outline: none;
}

.btnTrack {
    font-family: 'GilroyMedium' !important;
    color: #424242 !important;
    font-weight: 600 !important;
    background-color: #FFE900 !important;
    border: 0px;
    height: 50px;
    width: 100%;
    padding-top: 12px !important;
    border-radius: 8px !important;
}

.btnTrack span b {
    color: #212121 !important;
}

.p8 {
    font-family: 'GilroyMedium';
    color: #303144;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.p8Sub {
    font-family: 'GilroyMedium';
    color: #303144;
    font-size: 0.9rem;
    font-weight: 600;
}

.rowPackage {
    background-color: #EDF4F3;
    width: 100%;
    border-radius: 8px;
    margin-left: 0px !important;
    margin-top: 25px;
    padding: 15px;
}

.trylang {
    background-color: yellow;
}

/* Rider */

.conRider {
    background: url('/Image/riderbg.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 30px;
}

.pSino {
    font-family: 'ProximaNovaBlack', sans-serif;
    color: #4C4C4C;
    font-size: 4rem;
    text-align: center;
    line-height: 0.9em;
}

.divSino1 {
    background-color: #262626;
    border-radius: 20px;
    width: 250px;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 8%;
}

.divSino2 {
    background-color: #262626;
    border-radius: 20px;
    width: 250px;
    padding: 15px;
    position: absolute;
    left: 40%;
    top: 28%;
}

.divSino3 {
    background-color: #262626;
    border-radius: 20px;
    width: 250px;
    padding: 15px;
    position: absolute;
    left: 30%;
    top: 48%;
}

.divSino4 {
    background-color: #262626;
    border-radius: 20px;
    width: 250px;
    padding: 15px;
    position: absolute;
    left: 20%;
    top: 68%;
}

@media (min-width: 1200px) {
    .conSino {
        width: 1000px !important;
        max-width: 1000px !important;
    }
}

.pBoxSino {
    font-family: 'GilroyMedium';
    font-weight: 600;
    color: #FFFE00;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0px;
}

.conChat {
    background: url('/Image/conChat.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.divChat {
    backdrop-filter: blur(6px);
    padding: 30px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    margin-top: 40px;
}

/* Faq */

.conFaq {
    background-color: #F2F0F0;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
    -moz-box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
    box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, 0.73);
}

.pFaq {
    font-family: ProximaNovaBlack;
    color: #4C4C4C;
    font-size: 3rem;
}

.pFaqSub {
    font-family: 'GilroyBold';
    color: #4C4C4C;
    font-size: 1.8rem;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid #FBAA29;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none !important;
}

.accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #FBAA29 outline: none !important;
}

.accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #FBAA29;
    border: 1px solid #FBAA29;
    outline: none !important;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
    outline: none !important;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
    outline: none !important;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
    outline: none !important;
}

.accordion button[aria-expanded="true"] {
    color: #FBAA29;
}

.accordion button[aria-expanded="true"] .icon::after {
    width: 0;
}

.accordion button[aria-expanded="true"]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    will-change: opacity, max-height;
    outline: none !important;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: opacity 200ms linear, max-height 200ms linear;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}

.conblack {
    background-color: #262626 !important;
}

.pContact1 {
    font-family: 'GilroyBold';
    font-weight: bold;
    font-size: 1.2rem;
    color: #4C4C4C;
    margin-top: 20px;
}

.pContact2 {
    font-family: 'GilroyMedium';
    font-weight: 600;
    font-size: 1.2rem;
    color: #4C4C4C;
    margin-top: 20px;
}


/* training */

.conTraining {
    background-color: #262626;
}

.pTraining {
    font-family: ProximaNovaBlack;
    color: #D7D207;
    font-size: 3rem;
    margin-bottom: 0px;
}

.pHeaderTraining {
    font-family: ProximaNovaBlack;
    color: white;
    font-size: 1.8rem;
}

.pTrainingSub {
    font-family: ProximaNovaBold;
    color: white;
    font-size: 1.4rem;
}

.pTrainingSub1 {
    font-family: ProximaNovaBold;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.pFF {
    font-family: ProximaNovaBold;
    color: white;
    font-size: 1.2rem;
}

.pRider {
    font-family: ProximaNova;
    color: #464743;
    font-size: 1.2rem;
}

.btnBegin {
    font-family: ProximaNova;
    font-weight: 600;
    color: #464743;
    background-color: #FFFE00;
    border: 0px;
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}